.user-panel {
  height: 60px;
}
.user-panel>.info {
  position: relative;
  left: auto;
}
.skin-blue .sidebar-menu>li.header {
  color: white;
}


.login-page .main-footer{
  display: none;
}

.login-box-body, .register-box-body {
  background: rgba( 155, 155, 155, 0.55 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 2.5px );
  -webkit-backdrop-filter: blur( 2.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

::-webkit-scrollbar{
  width: 10px;
  background-color: #F5F5F5;
}
::-webkit-scrollbar-track{
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb{
  background-color: #222d32; 
  background-image: -webkit-linear-gradient(90deg,rgba(255, 255, 255, .2) 25%,transparent 25%,transparent 50%,rgba(255, 255, 255, .2) 50%,rgba(255, 255, 255, .2) 75%,transparent 75%,transparent)
}
.main-sidebar {
  position: fixed;
}
a.logo {
  position: fixed;
}
h4.nombre_dia {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  color: #fe4918;
}
.contenido-dia{
  display: none;
}
.tabla-precios ul, ul.lista-precios {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul.lista-precios li .numero {
font-size: 30px;
}
.tabla-precios h3 {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  color: #fe4918;
}
.contenido-dia label {
  font-weight: normal;
}
.contenido-dia time {
  font-weight: bold;
  color: #fe4918;
}
.autor {
  color: #fe4918;
}
div.box {
padding: 10px;
}
div.small-box {
  border-radius: 10px;
}